.GetStartedBtn {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #92A3FD, #9DCEFF); 
    -fx-padding: 10px 20px; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 1); 
}

.GetStartedBtn:pressed {
    -fx-background-color: white; 
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #7283DC, #7BACDE);
    -fx-effect: none; 
}