
.usernameTxtField{
	-fx-padding: 0 0 0 40px;
}

.Btn {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #92A3FD, #9DCEFF);
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 1); 
}

.Btn:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #7283DC, #7BACDE); 
    -fx-effect: none; 
}

.Btn2 {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #EEA4CE, #C58BF2); /* Updated gradient colors */
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 1); /* Shadow effect */
}

.Btn2:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #D98DB9, #9C66B3); /* Darker gradient for pressed state */
    -fx-effect: none; /* Remove shadow effect when pressed */
}

.pane {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #EEA4CE, #C58BF2); /* Updated gradient colors */
    -fx-background-radius: 0 0 20px 20px;
}

.image-view {
    -fx-border-radius: 20px; /* Rounded corners with 20px radius */
    -fx-border-width: 1px; /* Optional: Set border width */
    -fx-border-color: black; /* Optional: Set border color */
}

.panel{
	-fx-background-color: WHITE;
}
